@import "../base";

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.profile-header, .profile-info, .ticket-header, .ticket-table {
  padding: 10px;
  margin-bottom: 20px;
}


th, td {
  font-size: 30px;
}
.ticket-header,.profile-header{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2 {
  font-size: 24px;
}
@media (min-width: 900px) {
  .principal, .box {
    font-size: 24px;
  }
  th, td {
    font-size: 30px;
  }
  .profile-container {
    padding: 20px;
  }

}


@media (min-width: 600px) and (max-width: 900px) {
  .principal,.box{
    font-size: 20px;
  }
  th, td {
    font-size: 20px;
  }
  .profile-container {
    padding: 10px;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  th, td {
    font-size: 10px;
  }
  .profile-container {
    padding: 5px;
  }

  h2 {
    font-size: 15px;
  }
  .principal,.box{
    font-size: 15px;
  }
  .profile-info h2:nth-child(3) {
    overflow: hidden;
    white-space: pre-wrap;
  }
}