body {
  margin: 0;
  padding: 0;
  background-color: #FF9640;
  margin-bottom: 3%;
}

header {
  z-index: 1;
  background: linear-gradient(to bottom, #ffffff 5%, #ffd6b1 100%);
  background-color: #ffd6b1;
  display: flex;
  width: 100%;
  box-shadow: 0 0 1vh orange;
}

#monHeader {
  width: 100%;
  background-color: #fff;
  margin-top: 1%;
  transition: margin-top 0.5s;
}

#monHeader.sticky {
  position: fixed;
  top: 0;
  margin-top: 0;
}

#monHeader.sticky.reversed {
  margin-top: 1%;
  transition: margin-top 0.5s;
}

.myLog {
  display: block;
  text-align: center;
  line-height: 3vw;
  background: linear-gradient(to bottom, #ffb441 5%, #ff9900 100%);
  background-color: #ff9900;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 30px;
  font-weight: bolder;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cc9f52;
  margin-left: 0.5%;
  margin-right: 0.5%;
  border-radius: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.myLog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myButton {
  display: block;
  height: 3vw;
  text-align: center;
  line-height: 3vw;
  width: 10vw;
  background: linear-gradient(to bottom, #ffffff 5%, #ffd6b1 100%);
  background-color: #ffd6b1;
  display: inline-block;
  cursor: pointer;
  color: #ff9900;
  font-family: Arial;
  font-size: 30px;
  font-weight: bolder;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cc9f52;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.icon {
  display: block;
  width: 3vw;
  height: 3vw;
}

.myIcon {
  display: flex;
  width: 3.7vw;
  height: 3.7vw;
  margin-left: auto;
  border: none;
  align-items: center;
  justify-content: center;
}

.sousLog {
  margin-top: 1%;
  margin-bottom: 1%;
}

@media (max-width: 767px) {
  .sousLog {
    font-size: 0.5em;
  }
  .myButton {
    font-size: 15px;
  }
  .myIcon {
    width: 5vw;
    height: 5vw;
  }
  .icon {
    display: block;
    width: 4vw;
    height: 4vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sousLog {
    font-size: 0.8em;
  }
  .myButton {
    font-size: 20px;
  }
  .myIcon {
    width: 4.7vw;
    height: 4.7vw;
  }
  .icon {
    display: block;
    width: 3.5vw;
    height: 3.5vw;
  }
}
.myButton:hover {
  background: linear-gradient(to bottom, #fff1e1 5%, #fcc89c 100%);
  background-color: #fcc89c;
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0 0 1vh orange;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  background: radial-gradient(circle, #ffdd00, #ff8800);
  background-size: 300% 300%;
  animation: moveGradient 30s reverse infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 100% 0;
  }
  25% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.box {
  background: linear-gradient(to bottom, #ffffff 5%, #ffd6b1 100%);
  background-color: #ffd6b1;
  color: #ff9900;
  font-family: Arial;
  font-size: 20px;
  font-weight: bolder;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cc9f52;
  border-radius: 1vw;
  box-shadow: 0 0 1vh orange;
  border: 0;
}

table {
  width: 98%;
  border-collapse: collapse;
  margin: 1%;
}

th, td {
  border: 5px solid orange;
  padding: 8px;
  text-align: left;
}

.principal {
  background-color: #ff912e;
  color: white;
}

.pair {
  background-color: #ffd6b1;
}

.impair {
  background-color: #ffe7d4;
}

.popup {
  visibility: hidden;
  position: absolute;
  right: 0;
  width: 25%;
  padding: 0.5%;
}

.miniIcon {
  height: 2vw;
  width: 3vw;
  margin-right: 5%;
}

.connecter {
  visibility: hidden;
}

div {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
div > div {
  flex-direction: column;
  align-items: center;
}
div > div label {
  background-color: white;
  width: 50px;
  height: 50px;
  border: #ff9900 1px solid;
  border-radius: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  font-family: Calibri, sans-serif;
}

.table {
  flex-direction: column;
  align-items: flex-end;
}
.table p {
  margin-top: 0;
  margin-right: 25px;
}
.table button {
  margin-right: 25px;
  margin-bottom: 10px;
  width: max-content;
  line-height: 0;
  border: #ff9900 1px solid;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
}
.table button:hover {
  background-color: #e3e3e3;
}

.carte {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  flex-direction: column;
  align-items: flex-start;
}
.carte > div {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.carte > div h3 {
  margin: 0;
  padding-right: 10px;
  padding-left: 30px;
}
.carte input {
  border: #ff9900 1px solid;
  color: #ff9900;
}
.carte button {
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 37.5%;
  line-height: 0;
  width: max-content;
  border: #ff9900 1px solid;
  border-radius: 10px;
  background-color: white;
  font-family: Calibri, sans-serif;
  font-size: 20px;
}
.carte button:hover {
  background-color: #e3e3e3;
}

.billet {
  border: #ff9900 1px solid;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  flex-direction: column;
  justify-content: flex-start;
}
.billet h3 {
  margin: 30px 0 0;
}
.billet ul {
  margin-top: 0;
  margin-bottom: 5px;
}
.billet ul li {
  list-style: none;
  font-size: 20px;
}
.billet button {
  margin: 0;
  margin-left: 10px;
  width: max-content;
  line-height: 0;
  border: #ff9900 1px solid;
  border-radius: 10px;
  background-color: white;
  font-family: Calibri, sans-serif;
  font-size: 20px;
}
.billet button:hover {
  background-color: #e3e3e3;
}

@media (max-width: 1024px) {
  div {
    flex-direction: column;
    align-items: center;
  }
  div > div {
    align-items: center;
    text-align: center;
  }
  div > div label {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
  }
  .table, .carte, .billet {
    width: 100%;
  }
}
@media (max-width: 600px) {
  div > div label {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
  }
  .table, .carte, .billet {
    width: 100%;
  }
  h2 {
    font-size: 10px;
  }
  button {
    font-size: 12px;
  }
}

/*# sourceMappingURL=paiement.css.map */
